body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    margin: 20px 0;
}

#category-selector {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
}

.product-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
}

.product-item h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}

.product-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#product-details {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    display: none;
    margin: 20px;
}

#product-details h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
}

#product-details img {
    max-width: 100%;
    height: 70vh;
    margin: 0 0 10px 0;
}

#product-details p {
    font-size: 16px;
    margin: 0 0 10px 0;
}

@media (max-width: 768px) {
    #product-list {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        width: 100%;
    }
}
